block sessionvars
div.navbar
	#notif-navbar
		a No notifications
	if(authUser.role === 'Admin')
		ul.navoption
			a(href='/admin') Admin Panel
	if(authUser.role != 'Admin')
		ul.navoption
			a(href='/events') Events	
	ul.navuser
		a(href='/user?userId='+authUser._id).link
			i.icon-user.icon-white
			=authUser.name
		a(href='/logout')#btn-logout.btn.btn-primary
				i.icon-lock.icon-white
				| Sign Out
div#notif-div
	a#notif-hide [Hide]