
extends layout

block content
	#login-container.content.container
		h1 Set your password
		form( method="post")#getemail-form.content-block
			p.subheading Recover your account by setting the password
			p.subheading Please enter the email linked to your account
			div
				//label Email
				input(type="text", name="email", id='txt-email').span4.required
			button(type="submit")#btn-send.btn.btn-primary
				i.icon-lock.icon-white
				| Get email
			div.clear-fix
			//hr
		div#btm-links
			a(href='..')#back-link Back to login page
			//a(href='/signup')#create-account Create An Account

	include modals/modal
	//include modals/lost-password

block scripts
	script(src='/vendor/jquery.form.js')
	script(src='/js/views/passwordset.js')