.content-block
	h2 New medical appointement
	p Dear #{user.name} you have an appointment.
	//if(user._id != event.patient)
	//	p The patient is #{event.meta.patient}
	
	p Medic: #{event.meta.medic}
	
	| Please confirm your assistance and check the details of the event with the following link:
	a(href=url)=url