.content-block
	h2 Password set link
	p Dear #{user.name}:
	if(newUser)
		p Your user in the PIAMAD system was created.
		p You need to set your password to log into your account and access our services.
	p Please, use the link below to set your new password:
	a(src=url)=url
	p
	//p Welcome!