
extends layout

block content
	.container
			h3 Not Found!
		.content-block
			p You tried to open a page that does not exist, maybe you followed an incorrect link or there is a typo in the navigation box.
			p If you feel that is an error and you were correctly navigating in the page, please contact us.
			a.btn(href='/') Go to home page
		