
extends layout

block content
	.container
		if(title)
			h3=title
		else
			h3 Internal error			
		.content-block
			if(!error)
				p We are sorry, the application found an unexpected error and your action needed to be stopped
				p If the error persist, please contact us with detailed information about what you were doing in the application and when it occurs.
			else 
				if (typeof error == 'string')
					p error
				else
					each text in error
						p=text
		
			if(backUrl)
				a.btn(href=backUrl) Go back
			else
				a.btn(href='/') Go to home page
		