doctype html
block sessionvars
head
	if pageTitle === undefined
		title PIAMAD
	else
		title=pageTitle + ' - PIAMAD'
	link(rel='stylesheet', href='/css/style.css')
	link(rel='stylesheet', href='/css/bootstrap-bits.css')
	link(rel='stylesheet', href='/vendor/jquery-ui.min.css')
body
	block content
	#modal-background
	
	script(src='/vendor/jquery.min.js')
	script(src='/js/common.js')
	block scripts