block sessionvars
div.navbar
	if(authUser.role === 'Admin')
		ul.navoption
			a(href='/admin') Admin Panel
	ul.navoption
		a(href='/events') Events
	ul.navuser
		a(href='/user?userId='+authUser._id).link
			i.icon-user.icon-white
			=authUser.name
		a(href='/logout')#btn-logout.btn.btn-primary
				i.icon-lock.icon-white
				| Sign Out