
extends layout

block content
	#login-container.content.container
		h1 Set your password
		form( method="post")#getemail-form.content-block
			p.subheading Please, enter your new password in the two inputs below
			div
				//label Email
				input(type="password", name="password", id='txt-pass').span4.required
				input(type="password", name="passwordRetype", id='txt-passRetype').span4.required
			button(type="submit")#btn-send.btn.btn-primary
				i.icon-lock.icon-white
				| Set Password
			div.clear-fix
			//hr
		div#btm-links
			a(href='/')#back-link Back to login page

	include modals/modal

block scripts
	script(src='/vendor/jquery.form.js')
	script(src='/js/views/passwordsetform.js')