extends layout
block sessionvars
	- var authUser = sessionUser;
	- var pageTitle = title;
block content
	include navigation

	// preset form values if we receive a userdata object //
	- user = typeof(udata) != 'undefined' ? udata : { }
	// store the userId on the client side in a hidden input field //
	input(type='hidden', value= user._id)#userId
	
	#account-form-container.content-block
		form(method="post")#user-form
			if user.user
				h1 Editing #{user.user} profile
			else
				h1 Insert new user information
			hr
			.form-input
				label.control-label(for='name-tf') Name
				input#name-tf.input-xlarge(type='text', name='name', value= user.name, placeholder='Full name')
			.form-input
				label.control-label(for='email-tf') Email
				input#email-tf.input-xlarge(type='text', name='email', value= user.email)
			.form-input
				label.control-label(for='nss-tf') SSN
				input#nss-tf.input-xlarge(type='text', name='nss', value=user.nss, maxlength='12', placeholder='Social Security Number')
			hr
			p#sub2.subheading
			.form-input
				label.control-label(for='user-tf') Username
				input#user-tf.input-xlarge(type='text', name='user', value= user.user, disabled= authUser.role!='Admin')
			.form-input
				label.control-label(for='pass-tf') Password
				input#pass-tf.input-xlarge(type='password', name='pass', value='', placeholder='If empty, sends user an email to set it')
			.form-input
				label.control-label(for='pass-tf') Role
				select#role-list.input-xlarge(name='role', disabled= authUser.role!='Admin')
					each item in roles
						option(selected=item === user.role)= item
			.form-actions
				span#response-panel
				if ((authUser.role=='Admin') && (user.user))
					button(type='button')#user-btn-del.btn.btn-danger Delete
				if user.user
					button(type='submit')#account-form-submit.btn Update
				else
					button(type='submit')#account-form-submit.btn Create

	//include modals/alert
	include modals/confirm

block scripts
	script(src='/vendor/jquery.form.js')
	script(src='/js/views/user.js')