roundedBox()
	background-color: #F5F5F5;
	border 1px solid #393C3F
	border-radius: 4px;	
	padding 20px
	
colorChange()
	transition-property: background-color	 
	transition-timing-function: ease-in
	transition-duration: 1.5s
	
	
#background
	display:block
	roundedBox()
	position:fixed; 
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	height:170px;
	width: 200px;
	text-align: center
	font-size: 1.5em
	font-style: italic
	z-index: -1

#background:not(.hide)
	transition-property: height, width
	transition-timing-function: ease-in
	transition-duration: .75s
	width: 100%
	height: 100%
	
	
#leftbar
	position: absolute
	//roundedBox()
	top:55px
	//bottom:25%
	left: 15px
	width: 20%
	#vidYourself
		width: 100%
#participants
	position: fixed
	bottom:0
	width: 100%
	height: 25%
	left: 15px
	.tab
		background-color: #485E7B
		border 1px solid #393C3F
		border-radius: 4px
		margin-top: 16px
		padding: 5px
		height: 90%
		width:230px
		display:inline-block
		text-align: center
		position: relative
		.name
			overflow: hidden;
			white-space: nowrap;
	.tab-medic, .tab-patient
		top:-10px
	.tab:hover
		border 1px solid #FFF
	.connected
		background-color: #044DAB
		color: #FFF
		
.mini-video
	width: 100%
	overflow: hidden
	
#mainVideo
	position: absolute;
	top:55px;
	//bottom: 25%;
	bottom: 0
	left: 23.5%
	right: 20px
	.video
		margin: 20px
		margin-top:0
		height:90%
		width:45%
		display: inline-block
		div
			width:100%
			height:100%
	label
		color: white
		text-shadow: -1px 1px 0 #373A3D;
		font-size:1.25em
		position:absolute
		top:10px
		z-index:99
		width: 100%
		text-align: center
		
.switch {
    position: relative; width: 75px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
 
.switch-checkbox {
    display: none;
}
 
.switch-label {
	float: right;
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
    width: 50px;
}
 
.switch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
 
.switch-inner:before, .switch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
 
.switch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #044DAB; color: #FFFFFF;
}
 
.switch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #373A3D; color: #999999;
    text-align: right;
}

.switch-checkbox:checked + .switch-label .switch-inner {
    margin-left: 0;
}
 
.switch-checkbox:checked + .switch-label .switch-switch {
    right: 0px; 
}


#table-moderation
	border: 0
#table-moderation .controls
	margin-left 120px


.circle
	display: inline-block
	border-radius: .75em
	height: 1.5em
	width: 1.5em
	background: #575757
.circle.red
	colorChange()
	background-color: red
.circle.green
	colorChange()
	background-color: #00C300
		
