.content-block
	h2 The medical appointment was cancelled
	p Dear #{user.name}:
	p The medical appointment scheduled for #{event.start} was cancelled by the medic. We are sorry for the inconveniences.
	
	p Medic: #{event.owner}