extends layout

block sessionvars
	- var authUser = sessionUser
	- var pageTitle = title
	
block content
	include navigation
	div.container
		h3 Available Room List
		div.content-block
			table.table.table-bordered.table-striped#table1
				thead
					tr
						//th(style='width:40px') #
						th(style='width:180px') Titulo
	
						//th Sala
				tbody
					if (rooms.lengt !== 0)
						each room in rooms
							tr
								td
									a(href='/room?roomId=#{room._id}')
										span=room.name

	include modals/alert
	include modals/confirm


block scripts
	script(src='/vendor/jquery.form.js')
	script(src='/vendor/bootstrap-modal.js')
	script(src='/vendor/bootstrap-transition.js')